* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100&family=Roboto:wght@100;400&display=swap');

#bg-project1 {
  background-image: url(./img/files/bg-project1.svg);
  height: 400px;
  background-size: 100% 100%;
}

hr {
  height: 2px;
  background-color: #000;
  border: none;
}

.section_head {
  background-color: #1c1a19;
  height: 1000px;
}

.section_head .images {
  height: 100%;
}

.section_head .images > img {
  width: 15px;
  margin: 10px 35px;
}

.section_head .haed_article h1 {
  width: 330px;
  height: 130px;
  font-family: 'Crete Round', serif;
  font-weight: 550;
  font-size: 55px;
  color: #f55800;
  margin-bottom: 10px;
}

.section_head .haed_article h2 {
  width: 530px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  margin-bottom: 8px;
}

.section_head .haed_article {
  height: 100%;
}

.section_head .haed_article p {
  width: 30%;
  height: 143px;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  margin-bottom: 0;
}

.section_head .svg_img {
  background-image: url(./img/Illustration-header.svg);
  background-repeat: no-repeat, repeat;
  background-position: right;
  background-size: 45%;
}

.section_about {
  background-color: #1c1a19;
  height: 50%;
}

.section_about .about_me {
  width: 20%;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  font-size: 60px;
  color: #f55800;
  margin-bottom: 15px;
  margin-top: 100px;
}

.section_about .description {
  width: 30%;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  margin-bottom: 40px;
}

.section_about .resume {
  padding: 12px;
  width: 9%;
  background: #f55800;
  margin-bottom: 100px;
}

.section_about .resume span {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #fff;
}

.section_about .resume:hover {
  padding: 12px;
  width: 9%;
  background: #f55800;
}

.section_about .svg_img_snd {
  background-image: url(./img/Frame.svg);
  background-repeat: no-repeat, repeat;
  background-position: right;
}

.section_about .division_line {
  border: 1px solid rgba(250, 247, 247, 0.7);
  width: 90%;
}

.section_tools {
  background-color: #1c1a19;
  height: 484px;
  padding-top: 100px;
}

.section_tools a {
  text-decoration: none;
  margin: 10px 0;
  color: #fff;
}

.section_form {
  background-color: #fff;
  height: 600px;
  margin-bottom: 100px;
}

.flex_form {
  padding: 100px 0;
}

.flex_form h3 {
  width: 25%;
  margin-right: 40px;
  height: 256px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #262626;
}

.flex_form .formstyle {
  width: 70%;
  margin-right: 40px;
}

.flex_form .formstyle label {
  display: none;
}

.flex_form .formstyle input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  height: 50px;
  margin-bottom: 10px;
}

.flex_form .formstyle textarea {
  width: 100%;
  border: none;
  margin-top: 30px;
  background-color: #fbf8f7;
}

#first_name {
  width: 45%;
}

#last_name {
  width: 45%;
  float: right;
}

.formstyle .button_submit {
  padding: 12px;
  width: 15%;
  background: #f55800;
  border: none;
  margin-top: 25px;
}

.formstyle .button_submit span {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer_class {
  height: 100%;
  border-top: 2px solid #dfe1e6;
}

.footer_class .images > img {
  background-color: #fff;
}

@media (max-width: 576px) {
  .section_head .haed_article {
    width: 200px;
    font-size: 35px;
    margin-top: 10px;
  }

  .section_head .haed_article h1 {
    width: 200px;
    font-size: 35px;
    margin-top: 10px;
  }

  .section_head .haed_article h2 {
    width: 530px;
    height: 40px;
    font-size: 22px;
  }

  .section_head .haed_article p {
    width: 100%;
    height: 143px;
    font-size: 15px;
  }
}
